---
import HeroSection from '../components/hero-section.astro';
import SecondSection from '../components/second-section.astro';
import ThirdSection from '../components/third-section.astro';
import FourthSection from '../components/fourth-section.astro';
import FifthSection from '../components/fifth-section.astro';
import SixthSection from '../components/sixth-section.astro';
import SeventhSection from '../components/seventh-section.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Intimacy - Master Body&Mind Program">
	<main class="font-primary text-2xl w-full text-white">
		<HeroSection/>
		<SecondSection/>
		<ThirdSection/>
		<FourthSection/>
		<FifthSection/>
		<SixthSection/>
		<SeventhSection/>
	</main>
</Layout>

