---
const { sectionStyle, imageStyles, commonStyles } = Astro.props;

---
<section class={sectionStyle}>
    <div class={`${commonStyles} justify-center items-center gap-20 text-2xl lg:text-6xl px-5 lg:px-40 text-center`}>
        <p>No puedo prometerte un destino exacto... pero si seremos el espacio de seguridad, invitación y reconocimiento para que tu viaje sea totalmente transformador.</p>
        <p>
            ¿Estas dispuesta a soltar lo que ya no te funciona y entregarte a tu Intimacy?
        </p>
    </div>
    <img class={imageStyles} src="cover5.webp" alt="cover">
</section>