---
---
<section class="relative h-screen">
    <div class="absolute h-full w-full flex flex-col justify-center items-center gap-20 text-6xl px-40 font-secondary text-center">
        <p>No puedo prometerte un destino exacto... pero si seremos el espacio de seguridad, invitación y reconocimiento para que tu viaje sea totalmente transformador.</p>
        <p>
            ¿Estas dispuesta a soltar lo que ya no te funciona y entregarte a tu Intimacy?
        </p>
    </div>
    <img class="absolute h-full w-full -z-10 opacity-70 object-cover" src="cover5.webp" alt="cover">
</section>