---

---

<section class="relative h-screen">
  <div
    class="absolute h-full w-full flex flex-col justify-center items-start gap-16 font-secondary text-4xl px-20"
  >
    <h2 class="text-5xl">El próposito de este viaje hacia vos es que logres:</h2>
    <ul class="flex flex-col gap-5 list-disc px-8 max-w-[1000px]">
        <li>
            <span class="underline underline-offset-4 decoration-1">Reconexión</span> contigo bajandole el volumen a la mente y ego.
        </li>
        <li>
            Recuperación de la <span class="underline underline-offset-4 decoration-1">Autenticidad</span> y validación de tu sabiduría interna.
        </li>
        <li>
            <span class="underline underline-offset-4 decoration-1">Empoderamiento</span> personal, mirando de cerca nuestras sombras e integrandolas.

        </li>
        <li>
            <span class="underline underline-offset-4 decoration-1">Transformación Energética</span> trabajando desde y con el cuerpo, como el templo del sentir. 
        </li>
        <li>
            <span class="underline underline-offset-4 decoration-1">Potenciar</span> tu permisión con todo lo que sos.
        </li>
    </ul>
  </div>
  <img
    class="absolute h-full w-full -z-10 opacity-80 object-cover"
    src="/cover4.webp"
    alt="cover"
  />
</section>
