---
const { sectionStyle, imageStyles, commonStyles } = Astro.props;
---

<section class={sectionStyle}>
  <div class={`${commonStyles} justify-center items-center gap-5 lg:gap-10 px-5 lg:px-40`}>
    <h1 class="text-6xl lg:text-[13rem] leading-none font-primary">Intimacy</h1>
    <p class="lg:text-5xl text-xl text-center">¿Te atreves a viajar hacia lo más profundo de ti?</p>
    <a class="font-tertiary bg-[#7B0B3D] py-3 px-6 lg:px-8 lg:py-4 mt-10" href="#ticket"
      >Take your ticket</a
    >
  </div>
  <img class={imageStyles} src="/cover1.webp" alt="cover" />
</section>
