---

---

<section class="relative h-screen">
  <div class="absolute h-full w-full flex flex-col justify-center items-center gap-10">
    <h1 class="text text-[15rem] leading-none">Intimacy</h1>
    <p class="font-secondary text-5xl">¿Te atreves a viajar hacia lo más profundo de ti?</p>
    <a class="font-tertiary bg-[#7B0B3D] px-8 py-4" href="#ticket">Take your ticket</a>
  </div>
  <img class="absolute h-full w-full -z-10 opacity-70 object-cover" src="/cover1.webp" alt="cover" />
</section>
