---
const { sectionStyle, imageStyles, commonStyles } = Astro.props;
---

<section class={sectionStyle}>
  <div class={`${commonStyles} gap-6 lg:px-40 py-6 px-5 text-sm lg:py-12 lg:text-3xl text-center`}>
    <p>
      Por mucho tiempo dediqué mi vida a luchar. Luchar por lo que los demás
      esperaban de mi. Luchar por lo que creía que era “mejor” para mi. Luchar
      para conseguir dinero y para gastarlo sin sentirme mal. Luché con mis
      padres, mi pareja, mi trabajo. Y luche conmigo misma. Mucho.
    </p>
    <p>
      Siempre sentí que en mi convivían dos personas y luché para escuchar solo
      la voz que encajaba con lo que esta sociedad y familia esperaba de mi.
      Hasta que decidí irme. En 2019, armé mis valijas y me fui a Australia a
      “probar suerte”. Hoy te puedo decir, que escape para ser yo. O al menos,
      tenía la ilusión de encontrarme en ese viaje.
    </p>
  </div>
  <img class={imageStyles} src="cover2.webp" alt="cover" />
</section>
