---

---

<section class="relative h-screen">
  <div class="absolute h-full w-full flex flex-col gap-6 px-40 py-12 text-4xl text-center font-secondary">
    <p>
      Por mucho tiempo dediqué mi vida a luchar. Luchar por lo que los demás
      esperaban de mi. Luchar por lo que creía que era “mejor” para mi. Luchar
      para conseguir dinero y para gastarlo sin sentirme mal. Luché con mis
      padres, mi pareja, mi trabajo. Y luche conmigo misma. Mucho.
    </p>
    <p>
      Siempre sentí que en mi convivían dos personas y luché para escuchar solo
      la voz que encajaba con lo que esta sociedad y familia esperaba de mi.
      Hasta que decidí irme. En 2019, armé mis valijas y me fui a Australia a
      “probar suerte”. Hoy te puedo decir, que escape para ser yo. O al menos,
      tenía la ilusión de encontrarme en ese viaje.
    </p>
  </div>
  <img
    class="absolute h-full w-full -z-10 opacity-70 object-cover"
    src="cover2.webp"
    alt="cover"
  />
</section>
