---
const { sectionStyle, imageStyles, commonStyles } = Astro.props;
---

<section class={sectionStyle}>
  <div
    class={`${commonStyles} justify-center items-start gap-8 lg:gap-16 text-[0.9rem] lg:text-3xl px-5 lg:px-20`}
  >
    <h2
      class="text-lg lg:text-4xl underline underline-offset-4 decoration-1 text-center w-[50%]"
    >
      ¿Qué incluye este viaje?
    </h2>
    <ul class="flex flex-col gap-10 w-[50%] text-center">
      <li>
        - 7 (siete) encuentros por Zoom grupales de 2 horas, uno por semana.
        Sábados de 10 a 12hs Arg.
      </li>
      <li>
        Los mismos quedarán grabados y tendrán acceso de por vida. 
      </li>
      <li>
        - Grupo de WhatsApp de soporte diario 
      </li>
      <li>
        - Actividades y audios para realizar entre encuentros. 
      </li>
    </ul>
  </div>
  <img
    class={imageStyles}
    src="/cover6.webp"
    alt="cover"
  />
</section>
